<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkSn_YPaIWo5zxL0IZ35ir6B5dlKXCHVs</string>
	<key>GCM_SENDER_ID</key>
	<string>25393499648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prd.medicalrecordsmanagement</string>
	<key>PROJECT_ID</key>
	<string>medical-records-manageme-8675c</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-records-manageme-8675c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25393499648:ios:9896291044b9879dacd2e5</string>
</dict>
</plist>